<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<p>API KEY, FOR TESTING: <%= ShopifyApp.configuration.api_key %></p>

<ul>
  <% @products.each do |product| %>
    <li><a href="#" target="_top"><%= product.title %></a>
      <div class="product-options">id: <%= product.id %> Lighting Closeouts <input type="checkbox" id="<%= product.id %>-lc" value="lc" /> Lights4Less4u <input type="checkbox" id="<%= product.id %>-l4l4u" value="l4l4u" /> <button onclick="getProductInfo('<%= product.id %>', '<%= product.tags %>');">Edit</button></div>
    </li>
  <% end %>
</ul>
