<div class="product-options">
<%= form_tag("/products/#{product.id}", controller: "products", method: "put") do %>
  <% if product.tags.include? 'lightingcloseouts__show' %>
      <% lc_var = true %><% else %><% lc_var = false %><% end %>
  <% if product.tags.include? 'lights4less4u__show' %>
      <% l4l4u_var = true %><% else %><% l4l4u_var = false %><% end %>
  <% if product.tags.include? 'qdlhome__hide' %>
      <% qdl_var = true %><% else %><% qdl_var = false %><% end %>

  id: <%= product.id %> Lighting Closeouts <%= check_box_tag(:lightingcloseouts, 'yes', lc_var) %> Lights4Less4u <%= check_box_tag(:lights4less4u, 'yes', l4l4u_var) %> Hide on QDL <%= check_box_tag(:qdl, 'yes', qdl_var) %>
  <%= submit_tag("Edit Display") %><br>
  <%= product.tags %>
<% end %>
</div>