<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

    $('document').ready(function(){
      $('.toggle-info').click(function(){
        $(this).parent().find('.product-options').slideToggle();
      });

      $('.lc-collection').click(function(){
        $(this).toggleClass('lc-selected');
        var checkbox = $(this).find(':checkbox');
        if(checkbox.is(":checked") == true){
          checkbox.prop('checked', false);
        } else {
          checkbox.prop('checked', true);
        }
      });
    });

  </script>
<% end %>

<h2>Products</h2>

<% if @products.count == 0 %>
<p>There are no products on <strong>page <%= @page_num %></strong>. Try a lower number or return to the <a href="/">first page</a>.</p>
<% else %>
<ul>
  <% @products.each do |product| %>
    <li><a href="#/" class="toggle-info"><%= product.title %></a>
    <%= render 'edit', product: product %>
    </li>
  <% end %>
</ul>
<% end %>

<div class="clear"></div>

<div class="page-nav">
  <% if @page_num > 1 && @products.count != 0 %>
    <a href="/<%= @page_num-1 %>" class="rounded-corners"><</a>
  <% end %>
  <% if @products.count == 250 %>
   &nbsp; <a href="/<%= @page_num+1 %>" class="rounded-corners">></a>
  <% end %>
</div>