<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>
<% end %>

<h2>Products</h2>

<p>API KEY, FOR TESTING: <%= ShopifyApp.configuration.api_key %></p>

<% if @products.count == 0 %>
<p>There are no products on <strong>page <%= @page_num %></strong>. Try a lower number or return to the <a href="/">first page</a>.</p>
<% else %>
<ul>
  <% @products.each do |product| %>
    <li><a href="#" target="_top"><%= product.title %></a>
    <%= render 'edit', product: product %>
    </li>
  <% end %>
</ul>
<% end %>

<p style="font-size:24px;text-align:center;"><% if @page_num > 1 && @products.count != 0 %><a href="/<%= @page_num-1 %>"><</a><% end %><% if @products.count == 250 %> | <a href="/<%= @page_num+1 %>">></a><% end %></p>