<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<p>API KEY, FOR TESTING: <%= ShopifyApp.configuration.api_key %></p>


<ul>
  <% @products.each do |product| %>
    <li><a href="#" target="_top"><%= product.title %></a>
    <%= render 'edit', product: product %>
    </li>
  <% end %>
</ul>


<%
=begin
%>
<%= form_for ShopifyAPI::Product.find(408367465) do |f| %>
  <div class="actions">
    <table class="new-edit">
      <tbody>
        <tr><td><%= f.submit %>&nbsp;&nbsp;<%= link_to 'Cancel', @cat %></td></tr>
      </tbody>
    </table>
  </div>
<% end %>
<%
=end
%>